@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@500&display=swap');

.hero-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 2rem;
    z-index: 1;
}
.hero-button {
    display: flex;
    gap: 10px;
    margin-top: 30px;

}
.text-container {
    font-family: 'Kufam', sans-serif;
    text-align: left;
    font-size: 54px;
    width: 580px; /* Відповідає w-96 */
    height: 420px; /* Відповідає h-40 */
    #background-color: #1f2937; /* Відповідає bg-gray-800 */
    color: white; /* Відповідає text-white */
    padding: 1rem; /* Відповідає p-4 */
    overflow: hidden; /* Відповідає overflow-hidden */
    word-wrap: break-word; /* Відповідає text-wrap */
}
.hero-image {
    width: 400px;
    height: 700px;
    margin-right: 200px;
}






