.lines-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

/* Each Group */
.g-1, .g-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Move g-2 down */
.g-2 {
    top: 43%; /* Adjust this to match the second step position */
}

.line-separator {
    transform: rotate(90deg);
    width: 10%;
    height: 3px;
    top: 56%;
    left: 50%;
}

/* Base Line Style */
.line {
    position: absolute;
    background-color: #22bb4b;
}

/* Small Lines */
.g-1 .line-small-1, .g-2 .line-small-1 {
    width: 40px;
    height: 3px;
    top: 20%;
    left: 85%;
}

.g-1 .line-small-2, .g-2 .line-small-2 {
    width: 40px;
    height: 3px;
    top: 41.8%;
    left: 21.7%;
}

/* Middle Lines */
.g-1 .line-middle-1, .g-2 .line-middle-1 {
    width: 150px;
    height: 3px;
    transform: rotate(90deg);
    left: 82%;
    top: 26%;
}

.g-1 .line-middle-2, .g-2 .line-middle-2 {
    width: 120px;
    height: 3px;
    transform: rotate(90deg);
    left: 16.7%;
    top: 37%;
}

/* Long Line */
.g-1 .line-long, .g-2 .line-long {
    width: 800px;
    height: 3px;
    left: 55%;
    top: 32%;
    transform: translateX(-50%);
}

/* Apply circles to all lines */
.line::before,
.line::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #22bb4b;
    border-radius: 50%;
    position: absolute;
}

/* Left circle */
.line::before {
    left: -3px;
    top: -3px;
}

/* Right circle */
.line::after {
    right: -3px;
    top: -3px;
}
