.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100vw;  /* Ensures the navbar spans the full viewport width */
    max-width: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    background: #030303;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(225deg, #23D252 0%, #14932B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 1%;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
    justify-content: flex-end; /* Щоб навігація була праворуч */
}

.navItem {
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Inter', sans-serif;
}

.navItem:hover {
    background: linear-gradient(225deg, #23D252 0%, #14932B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.btn {
    background: linear-gradient(225deg, #22bb4b 0%, #117523 100%);
    color: white;
    font-weight: bold;
    font-family: 'Inter', bold sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 30px;
}

.btn:hover {
    background: linear-gradient(180deg, #28c857 0%, #138b30 100%);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
}