.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    max-width: 100vw;
    background: transparent;
}
* {
    box-sizing: border-box;
}

.logo {
    color: #22bb4b;
    font-size: 20px;
    font-weight: bold;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
    justify-content: flex-end; /* Щоб навігація була праворуч */
}

.navItem {
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navItem:hover {
    color: #22bb4b;
}

.btn {
    background: linear-gradient(225deg, #22bb4b 0%, #117523 100%);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-left: 30px;
}

.btn:hover {
    background: linear-gradient(180deg, #28c857 0%, #138b30 100%);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.5);
}